<div>
  <h1><b>Cadastro</b></h1>

  <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <label for="nome"
      >Nome <input class="input is-primary" type="text" formControlName="nome"
    /></label>

    <label for="login"
      >Login
      <input class="input is-primary" type="text" formControlName="login"
    /></label>

    <label for="senha"
      >Senha
      <input class="input is-primary" type="password" formControlName="senha"
    /></label>

    <button class="button" type="submit">Cadastrar</button>
  </form>
</div>
