div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  width: 350px;
}
